.footer_wrap {border-top: 1px solid #263238; width: 100%; }
.footer_top { overflow: hidden; margin-right: 50px; margin-left: 250px; min-width: 950px;}
.footer_top .fl_right {float: right;}
.footer_top .fl_right li {display: inline;}
.footer_top .fl_right li a{
    display: inline-block;
    text-decoration: none;
    color: #777;
    font-size: 12px;
    font-weight: 900;
    margin-left: 10px;
    padding: 10px 0px;
}

.footer_wrap2 {border-top: 1px solid #ddd;  padding: 30px 0; background-color: #ffffff;width: 100%; }
.footer_bot { margin-left:250px; min-width: 950px; }
.footer_bot .fl_left {margin-top: 10px;}
.footer_bot .fl_left li {display: inline;}
.footer_bot .fl_left li a{
    display: inline-block;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
    border-right: 1px solid #777;
    padding-right :5px;
    height: 10px;
    line-height: 10px;
}
.footer_bot .fl_left li a:hover {
    border-bottom: 1px solid #777;
}
.footer_bot > p {margin: 20px 0 0 0;}
.footer_bot > p > strong {font-size: 12px; color: #fff;}
.footer_bot > p > span {font-size: 10px;color: #fff;}
